*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    font-size: 30PX;
    text-decoration: none;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    margin-top: 20px;
    border-radius: 5px;
    margin-left: 650px;
    margin-right: 650px;
    border-right: 5px solid black;
    border-left: 5px solid black;
    margin-bottom: 20px;
}
body{
    font-size: 30px;
    text-decoration: none;
}
.abt-txt{
    text-align: center;
    margin-bottom: 20px;
}
.navbar{
    background-color: black;
    border-radius: 10px;

    /* padding: 10px; */
    /* margin-bottom: 20px; */
    
   }
  .navbar ul{
    overflow: auto; 
  } 
  .navbar li{
    float:left;
    list-style: none;
    margin: 25px 25px;
  }
  .navbar li a{
    padding: 3px 3px;
    text-decoration: none;
    color:white;
    font-size: 20px;
 }
 .navbar li a:hover{
    color: red;
    cursor: pointer;
    /* font-size: 26px; */
 }
 p{
   text-align: center;
   /* padding-bottom: 30px; */
 }
 .ins-txt li{
   padding-bottom: 20px;
   
   padding-left: 30px;
   /* border: 5px solid red ; */
 }
 .container{
  background-color: rgb(92, 135, 154);
  margin-top: 10px;
  border-radius: 9px;
  border: 2px solid black;
 }